.logo {
    width: 65px;
    height: 65px;
}

* {
    outline: 1px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

.hero {
    height: 100vh;
    /*background-image: url(./images/worship.jpg);*/
    background: linear-gradient(to right, #614385, #516395);
}

nav {
    background-color: rgba(255, 255, 255, 0.233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 15px 5%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    margin-right: 250px;
}

.nav_links li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
}

.nav_links li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(128, 0, 96);
}

.hero-text {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    height: 250px;
    left: 3%;
    top: 35%;
}

.hero-h4 {
    text-transform: uppercase;
    width: 100px;
    text-align: right;
    color: white;
    font-family: serif;
    margin: 30px;
    animation-name: slide-right;
    animation-duration: 1.8s;
}

@keyframes slide-right {
    from {
        margin-left: -15px;
    }
    to {
        margin-left: 30px;
    }
}

.hero-h1 {
    width: 510px;
    font-size: 45px;
    color: white;
    font-family: sans-serif;
    animation-name: slide-left1;
    animation-duration: 1.8s;
}

@keyframes slide-left1{
    from {
        margin-left: 15%;
    }
    to {
        margin-left: 0px;
    }
}

.tv {
    margin: 0 160px;
    padding: 15px 55px;
    border-radius: 25px;
    border: 2px solid rgb(233, 190, 0);
    color: white;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    animation-name: slide-left2;
    animation-duration: 1.6s;
}

@keyframes slide-left2 {
    from {
        margin-left: 400px;
    }
    to {
        margin-left: 160px;
    }
}

.tv:hover {
    margin-top: 40px;
    color: black;
    border: 0px transparent;
    background: linear-gradient(to bottom right, rgb(84, 167, 109), rgb(233, 190, 0));
}

.page-2 {
    width: 100%;
    padding: 5px 0px;
    background-color: rgb(231, 224, 224);
}

.content-1{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 80px auto;
}

.image1 {
    width: 350px;
    height: 350px;
    border-radius: 25px;
    margin-right: -20px;
    /*animation: fadeIn 0s  0.6s;
    animation-fill-mode: backwards;*/
}

/*.image1::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3e0549;
    transform: translateX(-100%);
    animation: secondaryImageOverlayIn 0.6s 0s, 
    secondaryImageOverlayOut 0.6s 0.6s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes secondaryImageOverlayIn {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes secondaryImageOverlayOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}*/

.info1 {
    width: 260px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
}

.info1-text {
    color: black;
    font-family: sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
}

.info1 a {
    text-decoration: none;
    font-size: 13.5px;
    font-family: sans-serif;
    margin: 10px 0;
    padding: 10px 30px;
    background-color: rgb(117, 26, 117);
    color: white;
    border-radius: 20px;
}

.info1 a:hover {
    background-color: rgba(95, 23, 95, 0.8);
}

.content-2 {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px auto;
}

.image2 {
    width: 350px;
    height: 350px;
    margin-left: 45px;
    border-radius: 25px;
}

.info2 {
    width: 350px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
}

.info2 h6 {
    color: rgb(117, 26, 117);
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.info2 h2 {
    color: #331f49;
    font-family: sans-serif;
    margin-bottom: 35px;
}

.info2 p {
    width: 300px;
    font-size: 14px;
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 20px;
}

.info2 a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 13.5px;
    background-color: rgb(117, 26, 117);
    padding: 10px 30px;
    border-radius: 20px;
    transition: .2s;
}

.info2 a:hover {
    margin-top: 10px;
    background-color: rgba(95, 23, 95, 0.8);
}

.content-3 {
    background-image: url(./images/worship.jpg);
    width: 1200px;
    height: 400px;
    margin: 100px auto;
}

.info3 {
    position: absolute;
    width: 500px;
    margin: 0 auto;
}

.info3 h4 {
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
}

.info3 h1 {
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
}

.info3 a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 13.5px;
    background-color: rgb(117, 26, 117);
    padding: 10px 30px;
    border-radius: 20px;
    transition: .2s;
    margin: 7 0px auto;
}

.info3 a:hover {
    margin-top: 10px;
    background-color: rgba(95, 23, 95, 0.8);
}